<h1>Edit Link</h1>

<form action="<%= link_url(@link) %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">

  <label>Title
    <input type="text" name="link[title]" id="title" value="<%= @link.title %>">
</label>
  <label>URL
    <input type="password" name="link[url]" id="url" value="<%= @link.url %>">
</label>

  <input type="submit" value="Update Link">
</form>
